.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 1.5625rem;
    height: 0.125rem;
    margin: 0.3125rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.bar:nth-child(2) {
    width: 0.875rem;
}

.nav_display {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    width: 100%;
}

/* MEDIA QUERY NAVIGATION */
@media (max-width: 576px) {
    .nav_display {
        position: fixed;
        left: -160%;
        top: 4.823rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 0.425rem;
        text-align: center;
        transition: 0.3s;
        height: 40vh;
        box-shadow: 0 0.625rem 1.6875rem rgba(0, 0, 0, 0.05);
    }

    ul li {
        list-style-type: none;
    }
    .nav_display.active {
        left: 0;
        margin: auto;
        padding: 2.512rem;
    }
    .hamburger {
        display: block;
        outline: none;
        cursor: pointer;
        right: -1.125rem;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(0.425rem) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-0.425rem) rotate(-45deg);
    }
}

.nav_links {
    text-decoration: none;
}
